@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");
@import "var.css";

/* componenets */
@import "css/components/status-bar.css";
@import "css/components/header.css";
@import "css/components/user.css";
@import "css/components/nav.css";
@import "css/components/no-mobile.css";

/* screens */
@import "css/screens/index.css";
@import "css/screens/friends.css";
@import "css/screens/more.css";
@import "css/screens/setting.css";
@import "css/screens/find.css";
@import "css/screens/chat.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--black);
  height: 100%;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

a {
  color: var(--black);
  text-decoration: none;
}

.main {
  margin: 0px 20px;
}
