.body-chat {
  background-color: #abc1d1;
}

.status-bar-chat {
  background-color: #abc1d1;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  animation: fadeIn 0.3s ease-in-out;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-header {
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-header__column {
  width: 33%;
}

.chat-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.chat-header__column:last-child {
  display: flex;
  justify-content: flex-end;
}

.chat-header__column:nth-child(2) span {
  font-size: 23px;
  font-weight: 600;
}

.chat-header__column:last-child .fa-bars {
  margin-left: 30px;
}

.chat-date {
  background-color: rgba(0, 0, 0, 0.15);
  color: white;
  width: 160px;
  height: 30px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  margin: 35px 0px;
  margin-bottom: 20px;
}

.chat-talk {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 10px 0px;
}

.chat-talk__column:first-child {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chat-talk__column-me {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.chat-talk .chat-talk__column__photo {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 10px;
}

.chat-talk__column__name {
  margin-top: 7px;
  margin-bottom: 10px;
  color: var(--grey);
}

.chat-talk__column__content {
  display: flex;
}

.chat-talk__column__content__bubble {
  font-size: 18px;
  background-color: white;
  padding: 13px 10px;
  border-radius: 15px;
  border-top-left-radius: 0px;
}

.chat-talk__column__content__time {
  font-size: 11px;
  display: flex;
  align-items: flex-end;
  color: rgba(0, 0, 0, 0.4);
  margin: 0px 5px;
  font-weight: 600;
}

.chat-talk__column-me .chat-talk__column__content__bubble {
  background-color: var(--yellow);
  border-radius: 15px;
  border-top-right-radius: 0px;
}

.no-content {
  display: none;
}

.chat-talk__column__content-continue {
  margin-left: 60px;
  position: relative;
  bottom: 20px;
}

.chat-talk__column__content-continue .chat-talk__column__content__bubble {
  border-radius: 15px;
}

.chat-form {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 100%;
}

.chat-form input {
  background-color: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  font-size: 20px;
  padding: 3px 20px;
  transition: all 0.3s ease-in-out;
}

.chat-form .fa-plus-square {
  margin: 0px 10px;
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.4);
}

.chat-form .fa-smile {
  color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 395px;
  font-size: 30px;
}

.chat-form .fa-arrow-up {
  background-color: var(--yellow);
  width: 39px;
  height: 39px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 445px;
}

.chat-form:focus-within .fa-plus-square,
.chat-form:focus-within .fa-smile,
.chat-form:focus-within .fa-arrow-up {
  opacity: 0;
}

.chat-form input:focus {
  width: 100vw;
  transform: translateX(-5%);
}
